
[".gnupg/gpg.conf"]
    type = "file"
    url = "https://raw.githubusercontent.com/drduh/YubiKey-Guide/master/config/gpg.conf"
    refreshPeriod = "168h"
{{- if not .hasGUI }}
    filter.command = "sed"
    filter.args = ["-e", "s/use-agent/no-autostart/"]
{{- else }}
[".gnupg/gpg-agent.conf"]
    type = "file"
    url = "https://raw.githubusercontent.com/drduh/YubiKey-Guide/master/config/gpg-agent.conf"
    refreshPeriod = "168h"
{{- end }}
["tmp/ble-nightly"]
    type = "archive"
    url = "https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz"
    refreshPeriod = "168h"
    stripComponents = 1