{{- $hasGUI := promptBoolOnce . "hasGUI" "Does this machine have a GUI" }}
{{- $isMac := eq .chezmoi.os "darwin" }}
{{- $isFedora := false }}
{{- $isSilverblue := false }}
{{- if not $isMac }}
{{-   if and (hasKey .chezmoi "osRelease") (hasKey .chezmoi.osRelease "id") }}
{{-     $isFedora = has .chezmoi.osRelease.id (list "fedora" "silverblue" "secureblue") }} 
{{-   end }}
{{-   if and (hasKey .chezmoi "osRelease") (hasKey .chezmoi.osRelease "variant") }}
{{-     $isSilverblue = has .chezmoi.osRelease.variant (list "silverblue" "CoreOS") }} 
{{-   end }}
{{- end }}
{{- $AuthCmd := "sudo" }} 
{{- $pkgInstall := cat $AuthCmd "dnf install -y" }} 
{{- if $isSilverblue }} 
{{-   $AuthCmd = "run0"}} 
{{-   $pkgInstall = "rpm-ostree install --allow-inactive --idempotent" }} 
{{- end }}  
[data]
    email = "joshua.ferguson.273@gmail.com"
    name = "Joshua Ferguson"
    pkey = "36CDF972E044DB6D68E3162DF92AFF72AFCE13A8"
    signkey = "92E1DBE0BCAB0361"
    hasGUI = {{ $hasGUI }}
    isMac = {{ $isMac }}
    isFedora = {{ $isFedora }}
    isSilverblue = {{ $isSilverblue }}
    authCmd = "{{ $AuthCmd }}"
    pkgInstall = "{{ $pkgInstall }}"
