#!/usr/bin/env bash
set -e
{{- $isFedora := eq .chezmoi.osRelease.id "fedora" }}
{{- $isSilverblue := eq .chezmoi.osRelease.variantID "silverblue" }}
{{- $pkgInstall := "sudo dnf install -y" }}
{{- if $isSilverblue }}{{- $pkgInstall = "run0 rpm-ostree install" }}{{- end }}
{{- $pkgs := list }}
{{- if $isFedora }}
{{-  if .hasGUI }}
  flatpak remote-add --user --if-not-exists flathub https://flathub.org
  flatpak install --user -y \
    {{- range .packages.flatpaks }}
    {{ . }} \
    {{- end }}
{{-  end }}
{{   $pkgs = .packages.rpm }}
{{-   if $isSilverblue }}
{{-     $pkgs = concat $pkgs .packages.ostree }}
{{-   else }}
        sudo dnf install \
          https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
        dnf install \
          https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
{{     $pkgs = concat $pkgs .packages.dnf }}
{{-     if .hasGUI }}
        # VS Code repo
        sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
        printf '[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\nautorefresh=1\ntype=rpm-md\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc\n' \
          | sudo tee /etc/yum.repos.d/vscode.repo > /dev/null
        sudo dnf install -y fedora-workstation-repositories
        sudo dnf config-manager setopt google-chrome.enabled=1
{{       $pkgs = concat $pkgs .packages.gui.dnf }}
{{-     end }}
{{-   end }}

{{- end }}
  
{{ $pkgInstall }} \
  {{- range $pkgs }}
  {{ . }} \
  {{- end }}



# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
. "$HOME/.cargo/env"

# Install cargo-binstall
curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash

# Install uv
curl -LsSf https://astral.sh/uv/install.sh | sh
. "$HOME/.local/bin/env"

# uv tools (common to both)
{{- range .packages.uv }}
uv tool install {{ . }}
{{- end }}
