#!/usr/bin/env bash
set -e 
{{- $isFedora := has .chezmoi.osRelease.id (list "fedora" "silverblue" "secureblue") }} 
{{- $isSilverblue := has .chezmoi.osRelease.variant ( list "silverblue" "CoreOS") }} 
{{- $AuthCmd := "sudo" }} 
{{- $pkgInstall := cat $AuthCmd "dnf install -y" }}
{{- $pkgs := list }} 
{{- if $isSilverblue }} 
{{-   $AuthCmd = "run0"}} 
{{-   $pkgInstall = cat $AuthCmd "rpm-ostree install" }} 
{{- end }}  

{{- if $isFedora }}
{{-   $pkgs = .packages.rpm }}
      # On all rpm variants
      {{ $AuthCmd }} curl -fsSL https://pkgs.tailscale.com/stable/fedora/tailscale.repo -o /etc/yum.repos.d/tailscale.repo
      flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      flatpak --user update -y
{{-   if $isSilverblue }} 
{{-     $pkgs = concat $pkgs .packages.ostree }}
{{-   else }}
        # Fedora specific
        {{ $pkgInstall }} https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
        {{ $pkgInstall }} https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
{{-     if .hasGUI }}
          # GUI packages
          {{ $pkgs = concat $pkgs .packages.gui.dnf }} 
          flatpak --user update -y
          flatpak install --user -y {{- range .packages.flatpaks }} {{ . }} {{- end }}
          # VS Code repo
          sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc 
          printf '[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\nautorefresh=1\ntype=rpm-md\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc\n' \
            | sudo tee /etc/yum.repos.d/vscode.repo > /dev/null
          sudo dnf install -y fedora-workstation-repositories 
          sudo dnf config-manager setopt google-chrome.enabled=1
{{-     end }} 
{{-   end }}
{{- end }}
  
{{ $pkgInstall }} {{- range $pkgs }} {{ . }} {{- end }}



# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
. "$HOME/.cargo/env"

# Install cargo-binstall
curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash

# Install uv
curl -LsSf https://astral.sh/uv/install.sh | sh

# uv tools (common to both)
{{- range .packages.uv }}
uv tool install {{ . }}
{{- end }}
